@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  background-color: lightgray;
  min-height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  min-height: 10vh;
  padding: 10px;
}

nav .logo img {
  /* width: 10%; */
  height: 10vh;
}
nav .title {
  color: grey;
  font-size: 20px;
}
nav .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
nav .links a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
nav .links a:hover {
  color: red;
  border: 1px solid white;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80%;
  margin-bottom: 5px;
}
.sidebar {
  background-color: lightgreen;
  width: 15%;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  padding-left: 10%;
}
.sidebar ul li {
  list-style-type: none;
}
.sidebar ul li a {
  text-decoration: none;
}
.kanban-board {
  background-color: lightcoral;
  width: 85%;
}

/* About page */
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.project p {
  font-size: 20px;
}

div .members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
div .profile-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid lightslategrey;
  border-radius: 5px;
  padding: 5px;
}

div .profile-links span {
  font-weight: bold;
  font-size: 16px;
}

/* Footer */
footer {
  background-color: lightsalmon;
  min-height: 10%;
}
.tasks-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.tasks-list-container h2 {
  margin: 2px;
  padding: 2px;
}
.tasks-list-container p {
  margin: 2px;
  padding: 2px;
}
.tasks-list-container a {
  text-decoration: none;
}
.tasks-list-container a:hover {
  transform: scale(1.03);
}
.tasks-list-container a:visited {
  text-decoration: none;
}
.task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: lightblue;
}
.task-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid grey;
}
.task-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid grey;
}

/* Not Found Page */
div .not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
div .not-found button {
  background-color: black;
}
div .not-found button:hover {
  background-color: white;
}
div .not-found a {
  text-decoration: none;
  color: white;
}
div .not-found a:hover {
  color: black;
}
